@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #fff2dc;
}

nav{
    background-color: #f39c12;
    color: white;
    width: 100%;
    height: 7vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-centering{
    display: flex;
    align-items: center;
}

.logo-icon{
    height: 30px;
    width: 30px;
    background-image: url('../images/logo.png');
    background-size: cover;
    margin-right: 10px;
}

.logo-text{
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
}

.search-box, .search-button{
    border: none;
    outline: none;
    font-size: 18px;
    transition: ease-out 0.2s;
}

.search-box{
    width: 300px;
    padding: 6px;
    font-weight: 200;
    opacity: 0.85;
    transition: ease-out 0.2s;
}

.search-box:hover{
    opacity: 1;
    transition: ease-in 0.2s;
}

.search-button{
    padding: 6px 10px;
    background-color: #d35400;
    color: white;
    transition: ease-out 0.3s;
}

.search-button:hover{
    background-color: #eb5c4c;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.filter-select{
    font-size: 17px;
    font-weight: 200;
}

.filter-type{
    opacity: 0.8;
    color: white;
    font-size: 15px;
    width: 130px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid white;
}

.filter-type option{
    color: white;
    background-color: #f39c12;
}

#icon{
    margin-right: 5px;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-list{
    display: none;
    position: absolute;
    background-color: #f39c12;
    padding: 8px;
    width: 160px;
    font-size: 16px;
    font-weight: 200;
    z-index: 1;
}

.dropdown:hover .dropdown-list{
    display: block;
}

.dropdown-list p:hover{
    color: rgb(255, 233, 161);
}

.no-restaurants{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 93vh;
}

.restaurants-list{
    margin-top: 9vh;
    margin-bottom: 2vh;
    display: grid;
    align-items: center;
    row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.restaurants-content{
    background-color: #d35400;
    color: white;
    padding: 10px;
    width: 350px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-self: center;
    transition: ease-out 0.2s;
}

.restaurants-content:hover{
    background-color: #eb5c4c;
    transform: scale(1.05,1.05);
    transition: ease-in 0.2s;
}

.restaurants-content:hover .add-button{
    display: block;
}

.restaurant-name{
    font-size: 20px;
    font-weight: 800;
}

.timetable-centering{
    display: flex;
}

.restaurant-timetable{
    font-size: 15px;
    font-weight: 200;
}

.add-button-centering{
    display: flex;
    justify-content: center;
}

.add-button{
    width: fit-content;
    padding: 4px 8px;
    font-size: 14px;
    background: none;
    outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: none;
}